@import '../../style/variables.scss';

.single-page {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 333px 550px auto;
    column-gap: 50px;
    align-items: start;
    &__img {

        width: 293px;
        // height: 450px;
        &-block {
            background: $bright-gradient-small;
            padding: 20px;
            box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
        }
    }
    &__name {
        margin-top: 18px;
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
        text-transform: uppercase;
        // text-align: center;
    }
    &__title {
        font-size: 24px;
        line-height: 32px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        &:not(:first-child) {
            margin-top: 20px;
        }        
        a {
            font-weight: bold;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
    &__info {
        background: $bright-gradient-small;
        padding: 25px;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
    }
    &__comics {
        &-descr {
            margin-top: 25px;
            font-size: 24px;
            line-height: 32px;
        }
        &-list {
            padding: 0 5px 5px 0;
            margin-top: 5px;
            max-height: 500px;
            // &::-webkit-scrollbar {
            //     background: transparent;
            // }
        }
        &-scroll {
            overflow-y: scroll;
            &::-webkit-scrollbar {
                border-radius: 10px;
                background: rgb(249, 242, 247);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: rgb(142, 102, 136);
            }
            // &::-webkit-scrollbar {
            //     background: #fff;
            //     border-radius: 10px;
            // }
            // &::-webkit-scrollbar-thumb {
            //     border-radius: 10px;
            //     background: $dark-gradient;
            // }
        }
            // overflow-y: scroll;
            // box-shadow: 0px 0px 20px rgb(255 200 255 / 50%);
            // border-radius: 10px;
            // &::-webkit-scrollbar {
            //     background: transparent;
            //     border-radius: 10px;
            // }
            // &::-webkit-scrollbar-thumb {
            //     border-radius: 10px;
            //     background: $dark-gradient;
            // }
        &-item {
            background: $bright-gradient;
            width: 100%;
            padding: 0px 10px;
            line-height: 25px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            transition: transform 0.3s;
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0px 3px 5px rgba(200, 100, 150, .5);
            }

            & a {
                width: 100%;
            }
        }
        &-more {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: rgba(0,0,0, .35);
            &.btn {
                cursor: pointer;
                &:hover {
                    color: $main-color;
                }
                &.loading {
                    animation: glowing 1s linear infinite;
                }
            }
        }
    } 
}

@keyframes glowing {
    0% { color: $main-color; }
    50% { color: $grey; }
    100% { color: $main-color; }
}