@import '../../style/variables';

.char {
    &__search {
        margin-top: 30px;
        width: 425px;
        min-height: 127px;
        padding: 25px;
        box-shadow: 0 0 20px rgb(0 0 0 / 25%);
        z-index: 5;
        background: $background-search;

        &-letters {
            display: flex;
            flex-wrap: wrap;
            gap: 11px;
            margin: 12px 0 20px;

            .char__search-letter {
                text-align: center;
                display: block;
                color: $ff-color;
                padding: 3px;
                position: relative;
                transform: skewX(-15deg);
                text-transform: uppercase;
                cursor: pointer;
                transition: transform 0.3s;

                &::before {
                    content: "";
                    top: 0;
                    left: 0;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
                }

                &:hover, &:focus {
                    transform: skewX(-15deg) translateY(-3px);
                    box-shadow: 0 5px 3px $shadow-active;
                }

            }
        }

        &-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }

        &-form {
            margin: 12px 0 18px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .button__secondary {
                margin-top: 15px;
            }
        }

        &-input {
            margin-right: 24px;
            width: 250px;
            height: 38px;
            padding: 10px;
            border: none;
            box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
            font-size: 14px;
            line-height: 16px;
            background: $background-search;
            color: inherit;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $inactive;
                font-style: italic;
            }
        }

        .button__secondary {
            margin-top: 10px;
        }

        &-error {
            margin-top: 25px;
            color: #9F0013;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
        }

        &-result {
            max-width: 250px;
            margin-top: 22px;
            color: #03710E;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
        }
    }
}