$main-color: #9F0013;
$dark: #232222;
$grey: #5C5C5C;
$dark-gradient: linear-gradient(250deg, #232028, #443940);
$bright-gradient: linear-gradient(250deg, #dfd2f4, #ebc8df);
$bright-gradient-small: linear-gradient(250deg, #e3cfee, #e8cae4);
$bright-gradient-blink: linear-gradient(250deg, #bea3c0, #c9a9cd);
// $shadow-active: rgba(200, 100, 150, .5);
$shadow-active: rgb(220, 100, 160);