$main-color: #9F0013;
$main-text: #e3223a;
$dark: #232222;
$grey: #443940;
$ff-color: #e1d7ff;
// $background-base: linear-gradient(107.32deg, #804bd8 5.53%, #6e4ad8 97.3%);
$background-base: linear-gradient(107.32deg, #2e22ab 5.53%, #e54c9c 97.3%);
// $background-search: linear-gradient(107.32deg, #7548d3 5.53%, #704ad8 97.3%);
$background-search: linear-gradient(107.32deg, #7031a7 5.53%, #e54c9c 97.3%);
$dark-gradient: linear-gradient(250deg, #232028, #443940);
$bright-gradient-blink: linear-gradient(250deg, #bea3c0a0, #c9a9cda3);
$shadow-active: rgb(220 100 160);
$inactive: rgba(255 255 255 / 40%);