@import '../../style/variables.scss';

.char {
    &__info {
        padding: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 5;
        background-color: #fff;
        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }
        .skeleton {
            margin-top: 30px;
        }
    }
    &__basics {
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    &__btns {
        margin-top: 35px;
        a:nth-child(2) {
            margin-top: 10px;
        }
    }
    &__descr {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    &__comics {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-top: 10px;
        &-list {
            position: relative;
            margin-top: 10px;
        }
        &-item {
            width: 100%;
            padding: 0px 10px;
            line-height: 25px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 10px;
        }
    }
    &__select {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    &__search {
        margin-top: 30px;
        width: 425px;
        min-height: 127px;
        padding: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        z-index: 5;
        background-color: #fff;
        &-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }
        &-form {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
/*             grid-template-columns: auto 101px;
            column-gap: 25px; */
        }
        &-input {
            width: 250px;
            height: 38px;
            padding: 10px 10px;
            line-height: 25px;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.5);
            &:focus {
                outline: none;
            }
        }
        &-error {
            margin-top: 25px;
            color: #9F0013;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
        }
    }
}