@import '../../style/variables';

.char {
    &__info {
        padding: 25px;
        box-shadow: 0 0 20px rgb(0 0 0 / 25%);
        position: relative;
        z-index: 5;

        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }

        .skeleton {
            margin-top: 30px;
        }
    }

    &__basics {
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    &__btns {
        margin-top: 35px;

        a:nth-child(2) {
            margin-top: 10px;
        }
    }

    &__descr {
        margin-top: 18px;
        font-size: 15px;
        line-height: 20px;
    }

    &__comics {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-top: 10px;

        &-list {
            position: relative;

            li:last-child:not(.char__comics-item) {
                color: $inactive;
                font-style: italic;
                text-shadow: none;
                margin-top: 12px;
                margin-left: 5px;
                font-size: 14px;

                & a {
                    font-weight: bold;

                    &:hover {
                        color: $main-text;
                    }
                }
            }
        }

        &-item {
            & a {
                background: $background-base;
                width: 100%;
                padding: 0 10px;
                line-height: 25px;
                box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
                margin-top: 10px;
                font-size: 14px;
                font-weight: 400;
                transition: all 0.3s;

                &:hover, &:focus {
                    transform: translateY(-3px);
                    box-shadow: 0 3px 5px $shadow-active;
                }
            }
        }
    }

    &__select {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}